.Titulo-pagina{
    color: #D26500;
    font-size: 15px;
}
.Titulo{
    color: #D26500;
    font-size: 30px;
}
.Titulo-pagina-sandias{
    color: #FF6161;
    font-size: 15px;
}
.Titulo-sandias{
    color: #FF6161;
    font-size: 30px;
}
.parrafo{
    text-align: center;
}
.navbar{
    height: 40px;
}
.carousel-inner{
    max-height: 30rem;
}
.carousel-img-size{
    width: 300px;
    height: 300px;
}
.iconos{
    width: 170px;
    height: 170px;
}
.ancho-caracteristicas{
    width: 85%;
}
.parrafo-caracteristicas{
    font-size:smaller;
}
@media (max-width:768px){
    #intro, #equipo{
        width: 90% !important;
    }
    .fila{
        width: 100% !important;
        text-align: center;
    }
}
@media (max-width:576px){
    .wrap{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}
.botonuwu{
    background-color: #FFC692;
    font-size: 20px;
    width:200px;
    bottom: 10px;
    left: 10px;
    border: none;
    color: azure;
    padding: 10px 10px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
}
.botonuwu:hover{
        background-color: rgb(255, 223, 177);
}
.botonuwu-sandias{
    background-color: #FFB0B0;
    font-size: 20px;
    width:200px;
    bottom: 10px;
    left: 10px;
    border: none;
    color: azure;
    padding: 10px 10px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
}
.botonuwu-sandias:hover{
        background-color: rgb(255, 204, 204);
}
.botonuwu-opinion{
    background-color: #FFB0B0;
    font-size: 13px;
    width:100px;
    bottom: 10px;
    left: 10px;
    border: none;
    color: azure;
    padding: 5px 5px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
}
.botonuwu-opinion:hover{
        background-color: rgb(255, 204, 204);
}
.margen-boton{
    margin-top: 100px;
}
.footer-cap{
    background: #ffaf2b;
    min-height: 80px;
}
.footer-cap p{
    color: #f3f3f3;
    text-align: center;
}
.footer-san{
    background: #FE8D8D;
    min-height: 80px;
}
.footer-san p{
    color: #f3f3f3;
    text-align: center;
}